
<div class="tablePrim">
    <p>
        1. capital
        2. risk
        3. buy/sell price
        4. sl price
        5. profit
        6. loss
        7. number of shares.
        8. abs target.
        9. abs stp loss
        10. % of capital
        11. 
      </p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding card card-block">
          
    
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <form>
              <!-- <div class="form-group">
                <label for="inputsm">Small input</label>
                <input class="form-control input-sm" id="inputsm" type="text">
              </div>
               <div class="form-group">
                <label for="inputdefault">Default input</label>
                <input class="form-control" id="inputdefault" type="text">
              </div> -->
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label for="inputlg">Buy/Sell price
                      <input class="form-control input-lg rrforminput" id="inputlg" type="number">
                  </label>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left ">
                  <label for="inputlg">Stop loss price
                      <input class="form-control input-lg rrforminput" id="inputlg" type="number">
                  </label>                 
                </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">



              </div>  
            </form>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
         
      </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        
    
    </div>
</div>

