
<nav class="mainHeaderpri navbar navbar-fixed-top hdr_btn">  
     <div style="min-width:100%" class="container no-padding"> 
        <!-- <a class="navbar-brand">Angular Router</a> -->
       <!--  <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul> -->
        
        <div class="row" >   
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                    <!-- <img class="logoFooter" height="45" width="150" src="assets\TCS_LogoFinal.png"/> -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                    <h3 style="float:right;">Trading Journal</h3>  
                </div>  
        </div>
        </div>
      

        <div class="row"  no-padding>   
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >              
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >  
                 <div class="headerTitle nofocus ">       
                   <button routerLink= "/home" routerLinkActive ="Active" mat-button> <i class="fa fa-area-chart"></i> Dashboard </button>  
                     <!--  <a href=""><font color="white">Global Plant Operations</font></a>  -->
                 </div>
                 <div class="headerTitle nofocus  ">       
                    <button routerLink= "/tradelog" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-sticky-note"></i> Log Trades</button> 
                  <!--  <a href=""><font color="white">Search</font></a>  -->
                </div>
                <div class="headerTitle nofocus ">       
                  <button routerLink= "/backtest" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-bars"></i> Back testing</button> 
                 <!-- <a href=""><font color="white">Alert</font></a>   -->
               </div>
                <div class="headerTitle nofocus ">       
                <button routerLink= "/watchlist" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-bars"></i> Watch List</button> 
               <!-- <a href=""><font color="white">Messages</font></a>  -->
               </div>
               <div class="headerTitle nofocus ">       
                <button routerLink= "/RRcheck" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-tachometer"></i> Risk-Reward position</button> 
              <!--  <a href=""><font color="white">Global Performance BM</font></a>  fa-bar-chart -->
               </div>
              <div class="headerTitle nofocus ">       
                <button routerLink= "/tradesystem" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-bars"></i> Trading Startegy</button> 
               <!-- <a href=""><font color="white">Power BI</font></a>  -->
               </div> 
               <div class="headerTitle nofocus ">       
                  <button routerLink= "/papertrade" routerLinkActive ="Active" mat-button><i style="vertical-align:inherit" class="fa fa-bars"></i> Paper Trading</button> 
                 <!-- <a href=""><font color="white">Power BI</font></a>  -->
                 </div> 
            </div>
            <div class="headerTitle nofocus">

                 <div  class="headerUserProfile hdr_btn text-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
                 <button mat-button><i style="vertical-align:inherit" class="fa fa-user"></i> Anurag Neema</button>
               </div>
            </div>
               
            </div>
            </div>    
          

     <!--  </div> -->
    </div> 
</nav>



