<div class="tablePrim">
  <h3>
    Trade watch list:
    date,
    month,
    This list would be having high probability setup analysis,
    my guess where stock can be moved,
    screenshots,
    actual movement,
    learnigs,
    rsi,
    move:up/down
    previous candle:red 
    
    <h3>this is important... to be worked on.. </h3>
    <b>how about i keep the track of stocks which are gapped from last 60 days
      1. have visible gap on daily.
      2. previous day prices are within +3 to-3% based on this i classify the long and short stock.

      also need to include predefined level of prices for sl for each long/short trades.
    </b>
  </h3> 
</div>
