<div class="tablePrim">

    <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <button mat-raised-button (click)="logStrategy()">New Strategy</button>
              <!-- banknify weekly options. what i expect from this.? positional? intraday.?-->         
              <!-- nifty options. what i expect from this.? positional? intraday.? -->         
              <!-- stock options monthly.  what i expect from this.? positional? intraday.?-->

              <!-- buy/sell options -->
            </div>


        </div>
        
      
      </div>

 <!--  <h3>
    Trading system: Will have the info about how I will trade, which system,indicators i will use.
    Screenshot of good setups.    
  </h3>  -->
</div>