<div class="tablePrim">
  
  <div style="padding: 3% 5%;" class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="card card-block">
          <h3>
            It would be just replica of trade system except they would not be theactual trade, instead the paper trade.
              Whatever I traded for the day, market condition, entry conditions, entry reason, quantity, 
              exit price, exit reason, stop loss price. profit/loss, sector condition, entry screenshot, exit screenshot,
              trade date, trade month trade type- intraday/positional,
              Risk reward Ratio(Automated calculcated) 
              bokerage charges(entered later),
              Learnings, lessons and mistakes.
            </h3>
      </div>
      

    </div>
     


  
  </div>

</div>
